<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>L admin form</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{{logo}}">
    <link rel="apple-touch-icon-precomposed" href="{{logo}}">
    <meta name="apple-mobile-web-app-title" content="L L" />
    <script src="/static/s_admin/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/s_admin/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/s_admin/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/s_admin/css/app.css">
    <script src="/static/s_admin/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
    <script src="/static/s_admin/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="{{adminlogo}}" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="{{portrait}}" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              L L
          </span>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/admin/index">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
{#                <li class="sidebar-nav-link">#}
{#                    <a href="/admin/table">#}
{#                        <i class="am-icon-table sidebar-nav-link-logo"></i> 表格#}
{#                    </a>#}
{#                </li>#}
{#                <li class="sidebar-nav-link">#}
{#                    <a href="/admin/form" class="active">#}
{#                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 表单#}
{##}
{#                    </a>#}
{#                </li>#}
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 数据列表
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="/admin_tablelist">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文字列表
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin_tablelistimg">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 图文列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/admin/login">
                        <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
                    </a>
                </li>
            </ul>
        </div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 表单 </div>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">Form</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form id="article_form" class="am-form tpl-form-line-form" action="/admin/save?article_id={{ article.id }}" method="POST" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">标题 <span class="tpl-form-line-small-title">Title</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" id="user-name" placeholder="请输入标题文字" value="{{article.title}}" name="article_title">
                                            <small>请填写标题文字。</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-3 am-form-label">发布时间 <span class="tpl-form-line-small-title">Time</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="am-form-field tpl-form-no-bg" placeholder="发布时间" data-am-datepicker="" readonly="" value="{{article.publish_date}}" name="article_publish_date">
                                            <small>发布时间为必填</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">作者 <span class="tpl-form-line-small-title">Author</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" class="tpl-form-input" placeholder="请输入作者" id="user-name" value="{{article.author}}" name="article_author">
{#                                            <select data-am-selected="{searchBox: 1}" style="display: none;">#}
{#  <option>L L</option>#}
{#  <option value="b">夕风色</option>#}
{#  <option value="o">Orange</option>#}
{#</select>#}

                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">简介 <span class="tpl-form-line-small-title">Brief</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="输入简介" value="{{article.brief}}" name="article_brief">
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">封面图 <span class="tpl-form-line-small-title">Images</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                     <input id="avatar" type="text" style="display:none" value="{{article.picture_href}}" name="article_picture_href">
                                                    <img id="avatarPreview" src="{{article.picture_href}}" title="点击更换图片"  height="500" width="1200" value="{{article.picture_href}}" name="article_picture_href" onerror="this.src='https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1530445548304&di=a9c46be55848c0f1b839229e34e2a640&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F3%2F598c01d0a0c4e.jpg';this.onerror=null">
                                                </div>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
    <i class="am-icon-cloud-upload"></i> 添加封面图片</button>
                                                <input id="avatarSlect" type="file" multiple="multiple" style="position: absolute;float: left; z-index: 10; opacity: 0;width: 100px; height: 100px;">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-weibo" class="am-u-sm-3 am-form-label">标签 <span class="tpl-form-line-small-title">Tags</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" id="user-weibo" placeholder="请添加分类用点号隔开" value="{{article.tags}}" name="article_tags">
                                            <div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-3 am-form-label">文章内容</label>
                                        <div class="am-u-sm-9">
                                            <textarea class="" rows="10" id="user-intro" placeholder="请输入文章内容" value="{{article.content}}" name="article_content"></textarea>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success" value="提交">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/static/s_admin/js/amazeui.min.js"></script>
    <script src="/static/s_admin/js/amazeui.datatables.min.js"></script>
    <script src="/static/s_admin/js/dataTables.responsive.min.js"></script>
    <script src="/static/s_admin/js/app.js"></script>
    <script>
        $(function () {
            bindAvatar1();
        });

        function bindAvatar() {
            if (window.URL.createObjectURL) {
                bindAvatar3();
            } else if (window.FileReader) {
                bindAvatar2();
            } else {
                bindAvatar1();
            }
        }

        /*Ajax上传至后台并返回图片的url*/
        function bindAvatar1() {
            $("#avatarSlect").change(function () {
                var csrf = $("input[name='csrfmiddlewaretoken']").val();
                var formData = new FormData();
                formData.append("csrfmiddlewaretoken", csrf);
                formData.append('avatar', $("#avatarSlect")[0].files[0]);
                /*获取上传的图片对象*/
                $.ajax({
                    url: '/upload_avatar/',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (args) {
                        console.log(args);
                        /*服务器端的图片地址*/
                        $("#avatarPreview").attr('src', '/' + args);
                        /*预览图片*/
                        $("#avatar").val('/' + args);
                        /*将服务端的图片url赋值给form表单的隐藏input标签*/
                    }
                })
            })
        }

        /*window.FileReader本地预览*/
        function bindAvatar2() {
            console.log(2);
            $("#avatarSlect").change(function () {
                var obj = $("#avatarSlect")[0].files[0];
                var fr = new FileReader();
                fr.onload = function () {
                    $("#avatarPreview").attr('src', this.result);
                    console.log(this.result);
                    $("#avatar").val(this.result);
                };
                fr.readAsDataURL(obj);
            })
        }

        /*window.URL.createObjectURL本地预览*/
        function bindAvatar3() {
            console.log(3);
            $("#avatarSlect").change(function () {
                var obj = $("#avatarSlect")[0].files[0];
                var wuc = window.URL.createObjectURL(obj);
                $("#avatarPreview").attr('src', wuc);
                $("#avatar").val(wuc);
                {#           $("#avatarPreview").load(function () {#}    /*当图片加载后释放内存空间，但在jQuery3.2.1中会报错。浏览器关闭后也会自动释放*/
                {#               window.URL.revokeObjectURL(wuc);#}
                {#      })#}
            })
        }
    </script>

</body>

</html>